@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply bg-white;
}

.container {
  @apply w-11/12 m-auto pt-2 md:w-4/5;
}

.btn {
  @apply bg-primary text-white px-5 py-2 m-2 rounded-md;
}